 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}

.container{
    margin: auto;
    width: calc(100% - 300px);
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
:root{
    --primary:#FB2E86;
    --mainfamily:"Lato", sans-serif;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.g-35{
    gap: 35px;
}
.text-w{
    color: white;
}
.d-flex{
    display: flex;
}
.d-coulm{
    flex-direction:column;
}
.c-1{
  color:#8A8FB9;
}
.g-1{
 gap: 10px;
}
.g-2{
    gap:15px;
}
.g-3{
    gap:20px;
}
.g-4{
    gap:25px;
}
.btn{
border: none;
outline:border;
color: white;
border-radius:2px;
padding:16px 40px;
}
.bg-1{
    background:var(--primary);
}
.newslater{
    background-color:teal;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.c-1{
    background-color: rgba(5, 230, 183, 1);
}
.c-2{
    background-color: rgba(247, 1, 168, 1);

}
.c-3{
    background-color:rgba(0, 0, 157, 1) ;

}
.c-4{
    background-color:rgba(255, 234, 193, 1);

}

