body {
    font-family: var(--mainfamily);
}

/* header */
.header {
    padding: 57px 0;
    margin-top: 47px;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.bar {
    display: none;
}

.list a {
    color: #0D0E43;
}

.list a.hm {
    color: var(--primary);
}

.search button {
    background-color: var(--primary);
    color: aliceblue;
    border: none;
    padding: 10px 10px;

    outline: none;
}

.search form {
    border-radius: 5px;
    border: 1px solid #E7E6EF;
}

.search input {
    border: none;
    outline: none;
    padding: 10px;
}

/*  header media  */ 
@media screen and (max-width: 1200px) {

    .header .search,
    .list {
        display: none;
    }

    .bar {
        display: block;
    }
}

/* newslater */


/*  footer  */
.footer {
    background-color: #EEEFFB;
    padding: 60px 0;
}

.footer .row {
    gap: 30px;
}

.right-side nav {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .right-side {
    width: calc((100% - 30px)/2)
}

.footer .right-side .row {
    align-items: flex-start;
    gap: 50px;
}

.footer .left-side {
    display: flex;
    flex-direction: column;
    width: calc((100% - 30px)/2);
    align-items: flex-start;
    gap: 35px;
}

.footer .search {
    margin-top: 20px;

}

.footer a {
    color: #8A8FB9;
}

.footer .footer-item {

    width: calc((100% - 100px)/3);
}

.footer .form {
    display: flex;
}

.add {
    margin-top: 20px;
}

/*  footer media  */ 

@media screen and (max-width:992px) {

    .footer .left-side,
    .footer .right-side {
        width: 100%;
    }
}
@media screen and (max-width:576px) {

  .footer .footer-item {
    width: 100%; 

  }

  .footer {
    text-align: center;
  }
}
/*  newsletter  */
.newsletter{
    background-image: url('../img/Rectangle\ \(3\).webp');
    padding: 174px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-attachment: fixed;
}
.newsletter h2{
    text-align: center;
    margin-bottom:32px;
    color:#151875;
    font-size: 35px;
}
.shop-btn:hover{
    background-color: #0D0E43;
    transition-duration:1s;
}

/*  newsletter media */
@media screen and (max-width:576px){
  .section h2{
    font-size: 10px;
  }
}
/*  clients   */
.clients{
padding: 20px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 10px;
    overflow: auto;
}
.clients .logo{
    width:calc((100% - 40px )/5);
}
.clients img{
    width:150px;
    height:150px;
}

@media screen and (max-width:992px){
.clients .logo{
    width:calc(( 100% -10px) /2);}
}